
<div class="movie-card" *ngFor="let movie of movieList" [ngStyle]="{'width': _themes.isLeftNavOpen ? '275px' : '240px'}">
    <img src="{{movie.posterPath}}" alt="Movie Poster">
    <div class="movie-card-content">
        <div class="movie-title" (click)="navigateToPreview(movie.id)">{{movie.name}}</div>
        <div class="movie-description"></div>
        <div class="movie-actions">
            <button class="action-button" (click)="navigateToPreview(movie.id)">
                <i class="fa fa-play" ></i>
                <span>&emsp;Play</span>
            </button>
            <span><i class="fa fa-play"></i> {{movie.watched}} | <i class="fa fa-download"></i> {{movie.downloaded}}</span>
        </div>
    </div>
</div>