.movie-card {
    width: 350px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.movie-card-content {
    padding: 16px;
}

.movie-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.movie-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 16px;
}

.movie-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    background-color: #220825;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}