<div class="movie-card" [ngStyle]="{'width':_themes.isLeftNavOpen? '350px':'400px'}">
    <img src="https://placekitten.com/300/180" alt="Movie Poster">
    <div class="movie-card-content">
        <div class="movie-title">Awesome Movie</div>
        <div class="movie-description">An epic adventure of awesomeness.</div>
        <div class="movie-actions">
            <button class="action-button">
                <i class="fa fa-play"></i>
                <span>&emsp;Play</span>
            </button>
            <span><i class="fa fa-play"></i> 100 | <i class="fa fa-download"></i> 5</span>
        </div>
    </div>
</div>

<div class="movie-card" [ngStyle]="{'width':_themes.isLeftNavOpen? '350px':'400px'}">
    <img src="https://placekitten.com/300/180" alt="Movie Poster">
    <div class="movie-card-content">
        <div class="movie-title">Awesome Movie</div>
        <div class="movie-description">An epic adventure of awesomeness.</div>
        <div class="movie-actions">
            <button class="action-button">
                <i class="fa fa-play"></i>
                <span>&emsp;Play</span>
            </button>
            <span><i class="fa fa-play"></i> 100 | <i class="fa fa-download"></i> 5</span>
        </div>
    </div>
</div>

<div class="movie-card" [ngStyle]="{'width':_themes.isLeftNavOpen? '350px':'400px'}">
    <img src="https://placekitten.com/300/180" alt="Movie Poster">
    <div class="movie-card-content">
        <div class="movie-title">Awesome Movie</div>
        <div class="movie-description">An epic adventure of awesomeness.</div>
        <div class="movie-actions">
            <button class="action-button">
                <i class="fa fa-play"></i>
                <span>&emsp;Play</span>
            </button>
            <span><i class="fa fa-play"></i> 100 | <i class="fa fa-download"></i> 5</span>
        </div>
    </div>
</div>

<div class="movie-card" [ngStyle]="{'width':_themes.isLeftNavOpen? '350px':'400px'}">
    <img src="https://placekitten.com/300/180" alt="Movie Poster">
    <div class="movie-card-content">
        <div class="movie-title">Awesome Movie</div>
        <div class="movie-description">An epic adventure of awesomeness.</div>
        <div class="movie-actions">
            <button class="action-button">
                <i class="fa fa-play"></i>
                <span>&emsp;Play</span>
            </button>
            <span><i class="fa fa-play"></i> 100 | <i class="fa fa-download"></i> 5</span>
        </div>
    </div>
</div>
